.idea/workspace.xml
images/halftone.png
images/header.jpg
images/splash-1-1024.jpg
images/splash-10124.jpg
js/jquery.jqpagination.js
templates/player-profile-2.html
views/index.jade
views/layout.jade
development/
